[submodule "bundle/vim-latex-live-preview"]
	path = bundle/vim-latex-live-preview
	url = https://github.com/xuhdev/vim-latex-live-preview.git
[submodule "bundle/bundle/polyglot"]
	path = bundle/bundle/polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "bundle/polyglot"]
	path = bundle/polyglot
	url = https://github.com/sheerun/vim-polyglot.git
